<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-4">
			<div class="list-group">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-search" area-hidden="true"></span>				
					</div>
					<input type="text" ng-model="searchTask" class="form-control" placeholder="Search">
				</div>
			</div>
				
				<!-- TASK LIST -->
				<a ng-repeat="task in tasks | filter: searchTask | orderBy: 'title'" ng-href="#/browse/{{task.$id}}">
					<div class="list-group-item">
					<div class="row-picture">
				            <img class="circle" ng-src="">
				        </div>
					<div class="row-content">
						 <h4 class="list-group-item-heading">{{task.title}}</h4> 
						 <span class="list-group-item-text">
						 	{{task.description | limitTo: 25}}{{ task.description.length > 25? "..." : ""}}
						 </span>		 					 
					</div>
					<div class="payment">
						<div>${{task.total}}</div>
						<span class="label status open">open</span>
					</div>
					<div class="list-group-separator"></div>
					</a>
			</div>
		</div>

		<div class="col-md-6">
			
			<div ng-show="false"></div>
			<img src="images/browse.jpg" class="img-responsive img-browse">
		</div>


		<div ng-show="true">
			
			<!-- Header -->
			<div class="row">
			   <div class="col-md-8">
			   <h3>Task title here</h3>
			   <span>
			   		<img src="" class="img-circle gravatar">
			   		Posted by George Gognadze -
			   		<span am-time-ago="1414918800000"></span>&nbsp;
			   		<span class="label status open">open</span>
			    </span>
			</div>
			
			   <div class="col-md-4 title">
			   	<div class="price-tag">
			   		30$

			   	<div ng-show="true">
			   		<div class="btn-group">
			   			<a href="" class="btn btn-warning">Admin</a>
			   			<a href="" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
			   			<ul class="dropdown-menu">
			   				<li><a href="" data-toggle="modal" data-target="#editModal">EDIT TASK</a></li>
			   				<li class="divider"></li>
			   				<li><a href="" ng-click="">CANCEL TASK></a></li>
			   			</ul>
			   		</div>
			   	</div>
			   </div>
			   </div>	
			</div>

		<br>

		<!-- DESCRIPTION -->
		<div class="row">
			<div class="col-md-12">				
			</div>
		</div>

	  </div>
	</div>

  </div>
</div>