<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-4">
			<div class="list-group">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-search" area-hidden="true"></span>				
					</div>
					<input type="text" ng-model="searchTask" class="form-control" placeholder="Search">
				</div>
			</div>
				
				<!-- TASK LIST -->
				<a ng-repeat="task in tasks | filter: searchTask | orderBy: 'title'" ng-href="#/browse/{{task.$id}}">
					<div class="list-group-item">
					<div class="row-content">
						 <h4 class="list-group-item-heading">{{task.title}}</h4> 
						 <span class="list-group-item-text">
						 	{{task.description | limitTo: 25}}{{ task.description.length > 25? "..." : ""}}
						 </span>							 
					</div>
					<div class="payment">
						<div>${{task.total}}</div>
					</div>
					<div class="list-group-separator"></div>
					</a>
			</div>
		</div>

	
	</div>
	<div class="col-md-6">
		<h2>Details would be here...</h2>
	</div>
</div>